<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assist.DataSource.Properties.Settings.FlashGoConnectionString1"
            connectionString="Data Source=shacng6120067,5013\SQLEXPRESS;Initial Catalog=FlashGo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>